<%- include("header") -%>

<h2>About To Do List</h2>
<p>This is a web app to help you keep track of your daily activities and help you stay organised.</p>
<p>I hope you enjoy!</p>

<%- include("footer") -%>
